@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(69, 197, 247);
  font-family: "Roboto", sans-serif;
}

.app-container {
  width: 80%;
  margin: 3rem auto 1rem;
  padding: 1.5rem 1.3rem 2.5rem;
  display: grid;
  place-items: center;
  gap: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgb(1, 24, 65, 0.5);
  background-color: rgb(222, 151, 188);
}

.page-title {
  font-size: 1.7rem;
  color: rgb(1, 24, 65);
  margin: 1rem 0;
  padding: 3px 15px;
  border-radius: 5px;
  background-color: rgb(227, 174, 201);
}

.todo-form {
  width: 90%;
}

/* from alert */
.alert {
  width: 65%;
  padding: 4px 0;
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0 auto 10px;
  text-align: center;
  border-radius: 15px;
  letter-spacing: 1px;
}

.alert-success {
  color: rgb(2, 82, 2);
  background-color: rgb(131, 214, 5, 0.5);
}

.alert-danger {
  color: rgb(141, 9, 9);
  background-color: rgba(253, 125, 125, 0.5);
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-input,
.add-todo-input-btn,
.edit-todo-input-btn,
.clear-items-btn {
  border: none;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.2s linear;
}

.todo-input {
  width: 100%;
  font-size: 0.71rem;
  padding: 8px 0.5rem;
  border-radius: 5px;
  color: rgb(3, 45, 116);
  border: 1px solid transparent;
  background-color: rgb(255, 254, 254);
}

.todo-input:focus {
  outline: none;
  border: 1px solid rgb(3, 55, 144);
}

.add-todo-input-btn,
.edit-todo-input-btn {
  width: 40%;
  font-size: 0.7rem;
  padding: 6px;
}

.add-todo-input-btn {
  cursor: pointer;
  color: aliceblue;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgb(1, 24, 65);
  border: 1px solid rgb(1, 24, 65);
}

.add-todo-input-btn:hover {
  color: white;
  border: 1px solid rgb(9, 61, 151);
  background-color: rgb(9, 61, 151);
}

.edit-todo-input-btn {
  border: 1px solid rgb(84, 13, 146);
  background-color: rgb(84, 13, 146);
}

.edit-todo-input-btn:hover {
  border: 1px solid rgb(133, 58, 202);
  background-color: rgb(133, 58, 202);
}

.todo-list-container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* From List component */
.todo-list {
  margin-top: 1rem;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid rgb(247, 204, 231);
}

.item-container {
  padding: 10px 15px;
  display: flex;
  align-items: baseline;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(254, 233, 246);
  box-shadow: 0 1px 5px rgb(51, 51, 51, 0.5);
}

.todo-item {
  color: rgb(1, 24, 65);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.item-btns-container {
  display: flex;
  gap: 10px;
}

.edit-icon,
.delete-icon {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  font-size: 0.7rem;
  display: grid;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
  border: 1px solid transparent;
}

.edit-icon {
  color: rgb(94, 2, 179);
  background-color: rgb(237, 217, 255);
}

.edit-icon:hover {
  color: rgb(50, 4, 92);
  border: 1px solid rgb(50, 4, 92);
}

.delete-icon {
  color: rgb(200, 2, 101);
  background-color: rgb(254, 218, 218);
}

.delete-icon:hover {
  color: rgb(109, 12, 60);
  border: 1px solid rgb(109, 12, 60);
}
/*end*/

.clear-items-btn {
  font-size: 0.7rem;
  color: rgb(245, 239, 239);
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 3px;
  margin-top: 20px;
  border: 1px solid transparent;
  background-color: rgb(195, 26, 111);
}

.clear-items-btn:hover {
  color: rgb(255, 254, 254);
  background-color: rgb(233, 94, 163);
}

@media screen and (min-width: 768px) {
  .todo-form {
    width: 70%;
  }

  .alert {
    width: 45%;
    font-size: 0.8rem;
  }

  .todo-input {
    font-size: 0.8rem;
  }

  .add-todo-input-btn,
  .edit-todo-input-btn {
    width: 20%;
  }

  .todo-item {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .app-container {
    width: 40%;
    padding: 1rem;
  }

  .page-title {
    font-size: 2.5rem;
  }

  .todo-form {
    width: 95%;
  }

  .alert {
    width: 40%;
    font-size: 0.9rem;
  }

  .input-container {
    display: block;
  }

  .todo-input {
    width: 80%;
    font-size: 0.8rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .add-todo-input-btn,
  .edit-todo-input-btn {
    width: 20%;
    font-size: 0.8rem;
  }

  .add-todo-input-btn {
    padding: 8px 12px;
  }

  .item-container {
    gap: 20px;
  }

  .todo-input,
  .add-todo-input-btn,
  .edit-todo-input-btn {
    font-size: 1rem;
    padding: 10px;
  }

  .item-container {
    padding: 10px 15px;
  }

  .todo-item {
    font-size: 1.1rem;
  }

  .edit-icon,
  .delete-icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
  }

  .clear-items-btn {
    font-size: 0.8rem;
    padding: 5px 12px;
  }
}
